* {
  margin-top: 0;
}

.titulo-principal {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

header {
  margin-top: 0 !important;
  background-color: #bbbbbb;
  padding-top: 15px;
  padding-bottom: 15px;
}

.caixa {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.caixa-caixa {
  align-items: center;
}
.caixa nav {
  padding: 40px 5px;
  width: 100%;
  margin-right: 25px;
}

.caixa nav ul {
  display: inline;
  margin: 0;
  padding-left: 0;
}

.caixa nav li {
  display: inline;
  margin-left: 9px;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 22px;
}

nav a:hover {
  color: rgb(196, 147, 56);
  text-decoration: underline;
}

#banner {
  width: 100%;
}

.titulo-centralizado {
  text-align: center;
}

.principal {
  background-color: #cccccc;
  padding: 30px;
}

p {
  text-align: center;
}

#missao {
  font-size: 20px;
}

em strong {
  color: red;
}

.itens {
  font-style: italic;
}

.beneficios {
  background-color: white;
  padding: 20px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imgbeneficios {
  width: 50%;
}

footer {
  text-align: center;
  background: url('./assets/bg.jpg');
  padding: 40px;
}

.copyright {
  color: #ffffff;
  font-size: 13px;
  margin: 20px 0 0;
}
